<section id="stats">
    <div id="stats-cover">
      <div class="content-box">
        <div class="content-title content-title-white wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
          <h3>We never stop improving</h3>
          <div class="content-title-underline"></div>
        </div>
        <div class="container">
          <div class="row text-center wow animated bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="col-md-3">
              <div class="stats-item">
                <fa name="cloud-download" size="5x"></fa>
                <h2><span class="counter">1590</span><span>+</span></h2>
                <p>Downloads</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="stats-item">
                <fa name="star-o" size="5x"></fa>
                <h2><span class="counter">3500</span><span>+</span></h2>
                <p>Awards</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="stats-item">
                <fa name="heart-o" size="5x"></fa>
                <h2><span class="counter">1199</span><span>+</span></h2>
                <p>Likes</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="stats-item">
                <fa name="check" size="5x"></fa>
                <h2><span class="counter">2200</span><span>+</span></h2>
                <p>Recommended</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>