/*=========================================================================
                                STATS
=========================================================================*/
#stats-cover{
    background-image: url('../../assets/images/Simple-productivity-tips1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
}
#stats .content-box{
    background-color: rgba(0,0,0,.8);
}
.stats-item{
    padding: 100px 0;
}
.stats-item fa{
    color: #34c6d3;
}
.stats-item h2{
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}
.stats-item p{
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
}