<section id="pricing">
    <div class="content-box">
      <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
        <h3>Our Pricing</h3>
        <div class="content-title-underline"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="pricing-box text-center">
              <h4 class="pricing-title">Basic</h4>
              <h3 class="pricing-value">50,000<sup>INR</sup></h3>
              <ul class="pricing-spec">
                <li>
                  <p>500 Emails</p>
                </li>
                <li>
                  <p>500 Emails</p>
                </li>
                <li>
                  <p>500 Emails</p>
                </li>
                <li>
                  <p>500 Emails</p>
                </li>
              </ul>
              <div class="pricing-btn">
                <a class="btn btn-lg btn-general btn-blue" href="#" role="button">Purchase</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 wow animated bounceInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="pricing-box pricing-box-lg text-center">
              <h4 class="pricing-title">Enterprise</h4>
              <h3 class="pricing-value">2,50,000<sup>INR</sup></h3>
              <ul class="pricing-spec">
                <li>
                  <p>500 Emails</p>
                </li>
                <li>
                  <p>500 Emails</p>
                </li>
                <li>
                  <p>500 Emails</p>
                </li>
                <li>
                  <p>500 Emails</p>
                </li>
              </ul>
              <div class="pricing-btn">
                <a class="btn btn-lg btn-general btn-white" href="#" role="button">Purchase</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="pricing-box text-center">
              <h4 class="pricing-title">Standard</h4>
              <h3 class="pricing-value">1,50,000<sup>INR</sup></h3>
              <ul class="pricing-spec">
                <li>
                  <p>500 Emails</p>
                </li>
                <li>
                  <p>500 Emails</p>
                </li>
                <li>
                  <p>500 Emails</p>
                </li>
                <li>
                  <p>500 Emails</p>
                </li>
              </ul>
              <div class="pricing-btn">
                <a class="btn btn-lg btn-general btn-blue" href="#" role="button">Purchase</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>