<section id="team">
    <div class="content-box">
      <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
        <h3>Our Team</h3>
        <div class="content-title-underline"></div>
      </div>
      <div class="container wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
        <div class="row">
          <div class="col-md-12">
            <div id="team-members">
              <owl-carousel [options]="{items: 3, dots: true, navigation: false, autoplay: true, smartSpeed: 700, loop: true, autoplayHoverPause: true}" 
              [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                <div class="team-member">
                  <img src="../../assets/images/ansari1.png" class="img-responsive" alt="team member">
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Some Name</h4>
                    <h4 class="team-member-designation">Some Name</h4>
                    <ul class="social-list">
                      <li><a href="#" class="social-icon icon-gray"><fa name="facebook"></fa></a></li>
                      <li><a href="#" class="social-icon icon-gray"><fa name="twitter"></fa></a></li>
                      <li><a href="#" class="social-icon icon-gray"><fa name="google-plus"></fa></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-member">
                    <img src="../../assets/images/anupam-mittal.jpg" class="img-responsive" alt="team member">
                    <div class="team-member-info text-center">
                      <h4 class="team-member-name">Some Name</h4>
                      <h4 class="team-member-designation">Some Name</h4>
                      <ul class="social-list">
                        <li><a href="#" class="social-icon icon-gray"><fa name="facebook"></fa></a></li>
                        <li><a href="#" class="social-icon icon-gray"><fa name="twitter"></fa></a></li>
                        <li><a href="#" class="social-icon icon-gray"><fa name="google-plus"></fa></a></li>
                      </ul>
                    </div>
                </div>
                <div class="team-member">
                  <img src="../../assets/images/Daniel-Smedley-Sladen.png" class="img-responsive" alt="team member">
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Some Name</h4>
                    <h4 class="team-member-designation">Some Name</h4>
                    <ul class="social-list">
                      <li><a href="#" class="social-icon icon-gray"><fa name="facebook"></fa></a></li>
                      <li><a href="#" class="social-icon icon-gray"><fa name="twitter"></fa></a></li>
                      <li><a href="#" class="social-icon icon-gray"><fa name="google-plus"></fa></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-member">
                  <img src="../../assets/images/images.jpeg" class="img-responsive" alt="team member">
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Some Name</h4>
                    <h4 class="team-member-designation">Some Name</h4>
                    <ul class="social-list">
                      <li><a href="#" class="social-icon icon-gray"><fa name="facebook"></fa></a></li>
                      <li><a href="#" class="social-icon icon-gray"><fa name="twitter"></fa></a></li>
                      <li><a href="#" class="social-icon icon-gray"><fa name="google-plus"></fa></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-member">
                  <img src="../../assets/images/MediatedMatter_People_Keating_500_332_80gray_c1.jpg" class="img-responsive" alt="team member">
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Some Name</h4>
                    <h4 class="team-member-designation">Some Name</h4>
                    <ul class="social-list">
                      <li><a href="#" class="social-icon icon-gray"><fa name="facebook"></fa></a></li>
                      <li><a href="#" class="social-icon icon-gray"><fa name="twitter"></fa></a></li>
                      <li><a href="#" class="social-icon icon-gray"><fa name="google-plus"></fa></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-member">
                  <img src="../../assets/images/people-mattcain2.jpg" class="img-responsive" alt="team member">
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Some Name</h4>
                    <h4 class="team-member-designation">Some Name</h4>
                    <ul class="social-list">
                      <li><a href="#" class="social-icon icon-gray"><fa name="facebook"></fa></a></li>
                      <li><a href="#" class="social-icon icon-gray"><fa name="twitter"></fa></a></li>
                      <li><a href="#" class="social-icon icon-gray"><fa name="google-plus"></fa></a></li>
                    </ul>
                  </div>
                </div>
              </owl-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
