/*=========================================================================
                                TESTIMONIALS
=========================================================================*/
#testimonials-cover{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,.8)),
    url('../../assets/images/facebook-faces.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#testimonials .content-box{
    background-color: rgba(0,0,0,0.1);
}
#customers-testimonials{
    padding: 50px o;
}
.testimonial img{
    max-width: 120px;
    margin: 0 auto 0 auto;
}
.testimonial blockquote{
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #fff;
    padding: 6px 150px;
    position: relative;
}
.testimonial blockquote::before,
.testimonial blockquote::after{
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}
.testimonial blockquote::before{
    content: "\201C";
    top: 0;
    left: 100px;
}
.testimonial blockquote::after{
    content: "\201D";
    bottom: 0;
    right: 100px;
}
.testimonial blockquote p{
    color: #fff;
}
.testimonial-author p{
    color: #fff;
    font-size: 17px;
}
.testimonial-author p strong{
    display: block;
}