<section id="testimonials">
    <div id="testimonials-cover">
      <div class="content-box">
        <div class="content-title content-title-white wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
          <h3>What our customers say</h3>
          <div class="content-title-underline"></div>
        </div>
        <div class="container">
          <div class="row wow animated bounceInDown" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="col-md-12">
              <div id="customers-testimonials" class="text-center">
                <owl-carousel [options]="{items: 1, dots: true, navigation: false, autoplay: true, smartSpeed: 700, loop: true, autoplayHoverPause: true}" 
                [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                  <div class="testimonial">
                    <img src="../../assets/images/images (1).jpeg" class="img-responsive rounded-circle" alt="testimonial">
                    <blockquote>
                      <p>
                        At the end of the day, you are solely responsible for your success and your failure. 
                        And the sooner you realize that, you accept that, and integrate that into your work ethic, you will start being successful.
                        As long as you blame others for the reason you aren't where you want to be, you will always be a failure.
                      </p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p>
                        <strong>Some name</strong>
                        <span>CEO & Founder - ABC</span>
                      </p>
                    </div>
                  </div>
                  <div class="testimonial">
                    <img src="../../assets/images/389530.jpg" class="img-responsive rounded-circle" alt="testimonial">
                    <blockquote>
                      <p>
                        At the end of the day, you are solely responsible for your success and your failure. 
                        And the sooner you realize that, you accept that, and integrate that into your work ethic, you will start being successful.
                        As long as you blame others for the reason you aren't where you want to be, you will always be a failure.
                      </p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p>
                        <strong>Some name</strong>
                        <span>CEO & Founder - ABC</span>
                      </p>
                    </div>
                  </div>
                  <div class="testimonial">
                    <img src="../../assets/images/p01t1fqt.jpg" class="img-responsive rounded-circle" alt="testimonial">
                    <blockquote>
                      <p>
                        At the end of the day, you are solely responsible for your success and your failure. 
                        And the sooner you realize that, you accept that, and integrate that into your work ethic, you will start being successful.
                        As long as you blame others for the reason you aren't where you want to be, you will always be a failure.
                      </p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p>
                        <strong>Some name</strong>
                        <span>CEO & Founder - ABC</span>
                      </p>
                    </div>
                  </div>
                  <div class="testimonial">
                    <img src="../../assets/images/eed6f5fc-b6b6-446d-de49-6e9aac90aab4-eed6f5fcb6b6446dde496e9aac90aab4rendition_1_scottthuman5x7bluegradient.jpg" class="img-responsive rounded-circle" alt="testimonial">
                    <blockquote>
                      <p>
                        At the end of the day, you are solely responsible for your success and your failure. 
                        And the sooner you realize that, you accept that, and integrate that into your work ethic, you will start being successful.
                        As long as you blame others for the reason you aren't where you want to be, you will always be a failure.
                      </p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p>
                        <strong>Some name</strong>
                        <span>CEO & Founder - ABC</span>
                      </p>
                    </div>
                  </div>
                  <div class="testimonial">
                    <img src="../../assets/images/images (1).jpeg" class="img-responsive rounded-circle" alt="testimonial">
                    <blockquote>
                      <p>
                        At the end of the day, you are solely responsible for your success and your failure. 
                        And the sooner you realize that, you accept that, and integrate that into your work ethic, you will start being successful.
                        As long as you blame others for the reason you aren't where you want to be, you will always be a failure.
                      </p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p>
                        <strong>Some name</strong>
                        <span>CEO & Founder - ABC</span>
                      </p>
                    </div>
                  </div>
                  <div class="testimonial">
                    <img src="../../assets/images/images (1).jpeg" class="img-responsive rounded-circle" alt="testimonial">
                    <blockquote>
                      <p>
                        At the end of the day, you are solely responsible for your success and your failure. 
                        And the sooner you realize that, you accept that, and integrate that into your work ethic, you will start being successful.
                        As long as you blame others for the reason you aren't where you want to be, you will always be a failure.
                      </p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p>
                        <strong>Some name</strong>
                        <span>CEO & Founder - ABC</span>
                      </p>
                    </div>
                  </div>
                </owl-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
