<section id="work">
    <div class="content-box">
      <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
        <h3>Our Work</h3>
        <div class="content-title-underline"></div>
      </div>
      
      <div class="container-fluid">
        <div class="row no-gutters wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
          <div class="col-md-3">
            <div class="img-wrapper">
              <a href="../../assets/images/indian-wedding-decoration-ideas-on-a-budget-suitable-add-simple-indian-wedding-decoration-ideas-for-reception-1.jpg" title="work description goes here">
                <img src="../../assets/images/indian-wedding-decoration-ideas-on-a-budget-suitable-add-simple-indian-wedding-decoration-ideas-for-reception-1.jpg" class="img-responsive" alt="work">
              </a>
            </div>
          </div>
          <div class="col-md-3">
              <div class="img-wrapper">
                <a href="../../assets/images/indian-wedding-decorations.jpg" title="work description goes here">
                  <img src="../../assets/images/indian-wedding-decorations.jpg" class="img-responsive" alt="work">
                </a>
              </div>
          </div>
          <div class="col-md-3">
              <div class="img-wrapper">
                <a href="../../assets/images/indian-wedding-sangeet-decoration-ideas-suitable-add-indian-wedding-sweet-decoration-ideas-suitable-add-south-indian-wedding-stage-decoration-ideas-1.jpg" title="work description goes here">
                  <img src="../../assets/images/indian-wedding-sangeet-decoration-ideas-suitable-add-indian-wedding-sweet-decoration-ideas-suitable-add-south-indian-wedding-stage-decoration-ideas-1.jpg" class="img-responsive" alt="work">
                </a>
              </div>
          </div>
          <div class="col-md-3">
              <div class="img-wrapper">
                <a href="../../assets/images/indian-wedding-stage-decoration-cost-best-of-south-indian-wedding-stage-decoration-choice-image-wedding-of-indian-wedding-stage-decoration-cost.jpg" title="work description goes here">
                  <img src="../../assets/images/indian-wedding-stage-decoration-cost-best-of-south-indian-wedding-stage-decoration-choice-image-wedding-of-indian-wedding-stage-decoration-cost.jpg" class="img-responsive" alt="work">
                </a>
              </div>
          </div>
          <div class="col-md-3">
              <div class="img-wrapper">
                <a href="../../assets/images/indian-wedding-tent-decoration-ideas-suitable-add-indian-wedding-basket-decoration-ideas-suitable-add-indian-wedding-decoration-ideas-at-home-1.jpg" title="work description goes here">
                  <img src="../../assets/images/indian-wedding-tent-decoration-ideas-suitable-add-indian-wedding-basket-decoration-ideas-suitable-add-indian-wedding-decoration-ideas-at-home-1.jpg" class="img-responsive" alt="work">
                </a>
              </div>
          </div>
          <div class="col-md-3">
              <div class="img-wrapper">
                <a href="../../assets/images/fresh-indian-wedding-decor-ideas-suitable-add-decoration-ideas-for-indian-wedding-gifts-suitable-add-decoration-ideas-for-indian-wedding-reception-1.jpg" title="work description goes here">
                  <img src="../../assets/images/fresh-indian-wedding-decor-ideas-suitable-add-decoration-ideas-for-indian-wedding-gifts-suitable-add-decoration-ideas-for-indian-wedding-reception-1.jpg" class="img-responsive" alt="work">
                </a>
              </div>
          </div>
          <div class="col-md-3">
              <div class="img-wrapper">
                <a href="../../assets/images/Setup30NovPastelThemeMAI_7142.jpg" title="work description goes here">
                  <img src="../../assets/images/Setup30NovPastelThemeMAI_7142.jpg" class="img-responsive" alt="work">
                </a>
              </div>
          </div>
          <div class="col-md-3">
              <div class="img-wrapper">
                <a href="../../assets/images/indian-wedding-decoration-ideas-on-a-budget-suitable-add-simple-indian-wedding-decoration-ideas-for-reception-1.jpg" title="work description goes here">
                  <img src="../../assets/images/indian-wedding-decoration-ideas-on-a-budget-suitable-add-simple-indian-wedding-decoration-ideas-for-reception-1.jpg" class="img-responsive" alt="work">
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
