<section id="clients">
    <div class="content-box">
      <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
        <h3> Clients </h3>
        <div class="content-title-underline"></div>
      </div>
      <div class="container">
        <div class="row wow animated bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s">
          <div class="col-md-12">
            <div id="clients-list">
              <owl-carousel [options]="{items: 6, dots: true, navigation: false, autoplay: true, smartSpeed: 700, loop: true, autoplayHoverPause: true}" 
                [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                <div class="client">
                  <img src="../../assets/images/images (1).jpeg" class="img-responsive" alt="client">
                </div>
                <div class="client">
                  <img src="../../assets/images/images (1).jpeg" class="img-responsive" alt="client">
                </div>
                <div class="client">
                  <img src="../../assets/images/images (1).jpeg" class="img-responsive" alt="client">
                </div>
                <div class="client">
                  <img src="../../assets/images/images (1).jpeg" class="img-responsive" alt="client">
                </div>
                <div class="client">
                  <img src="../../assets/images/images (1).jpeg" class="img-responsive" alt="client">
                </div>
                <div class="client">
                  <img src="../../assets/images/images (1).jpeg" class="img-responsive" alt="client">
                </div>
                <div class="client">
                  <img src="../../assets/images/images (1).jpeg" class="img-responsive" alt="client">
                </div>
                <div class="client">
                  <img src="../../assets/images/images (1).jpeg" class="img-responsive" alt="client">
                </div>
              </owl-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>