<section id="about">
    <div id="about-bg-diagonal"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div id="about-content-box">
            <div id="about-content-box-outer">
              <div id="about-content-box-inner">
                  <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                      <h3>About Us</h3>
                      <div class="content-title-underline"></div>
                  </div>
                  <div id="about-desc" class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                    <p>Planning and making use of opportunities are fundamental in the event industry, 
                      so never feel like it is good luck when your event is a success, 
                      you or your team have worked hard to achieve it and you should enjoy the glory.
                      Planning without action is futile, action without planning is fatal.</p>
                  </div>
                  <div id="about-btn" class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <a class="btn btn-lg btn-general btn-blue smooth-scroll" href="#work" role="button">Our Work</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
