<section id="services">
    <div class="content-box">
      <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
        <h3>Services</h3>
        <div class="content-title-underline"></div>
      </div>
      <div class="container wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
        <div class="row">
          <div class="col-md-4">
            <div class="service-item">
                <div class="service-item-icon">
                  <fa name="paint-brush" size="3x"></fa>
                </div>
                <div class="service-item-title">
                  <h3>Web Design</h3>
                  </div>
                <div class="service-item-desc">
                  <p>Tamen fabulas id varias tamen qui nam enim.</p>
                </div>
  
            </div>
          </div>
          <div class="col-md-4">
              <div class="service-item">
                  <div class="service-item-icon">
                    <fa name="laptop" size="3x"></fa>
                  </div>
                  <div class="service-item-title">
                    <h3>Web Development</h3>
                    </div>
                  <div class="service-item-desc">
                    <p>Tamen fabulas id varias tamen qui nam enim.</p>
                  </div>
    
              </div>
          </div>
          <div class="col-md-4">
              <div class="service-item">
                  <div class="service-item-icon">
                    <fa name="tablet" size="3x"></fa>
                  </div>
                  <div class="service-item-title">
                    <h3>Mobile Apps</h3>
                    </div>
                  <div class="service-item-desc">
                    <p>Tamen fabulas id varias tamen qui nam enim.</p>
                  </div>
    
              </div>
          </div>
          <div class="col-md-4">
              <div class="service-item">
                  <div class="service-item-icon">
                    <fa name="search" size="3x"></fa>
                  </div>
                  <div class="service-item-title">
                    <h3>SEO Optimization</h3>
                    </div>
                  <div class="service-item-desc">
                    <p>Tamen fabulas id varias tamen qui nam enim.</p>
                  </div>
    
              </div>
          </div>
          <div class="col-md-4">
              <div class="service-item">
                  <div class="service-item-icon">
                    <fa name="pencil-square-o" size="3x"></fa>
                  </div>
                  <div class="service-item-title">
                    <h3>UX Design</h3>
                    </div>
                  <div class="service-item-desc">
                    <p>Tamen fabulas id varias tamen qui nam enim.</p>
                  </div>
    
              </div>
          </div>
          <div class="col-md-4">
              <div class="service-item">
                  <div class="service-item-icon">
                    <fa name="life-ring" size="3x"></fa>
                  </div>
                  <div class="service-item-title">
                    <h3>Support</h3>
                    </div>
                  <div class="service-item-desc">
                    <p>Tamen fabulas id varias tamen qui nam enim.</p>
                  </div>
    
              </div>
          </div>
        </div>
      </div>
    </div>
</section>