/*=========================================================================
                                SERVICES
=========================================================================*/
.service-item{
    padding: 20px 0 20px 0;
    margin-bottom: 26px;
    cursor: pointer;
}
.service-item-icon{
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}
.service-item:hover .service-item-icon fa {
    color: #fff;
    background-color: #34c6d3;
}
.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}
.service-item-desc p{
    margin: 0;
    padding-left: 85px;
}