<header>
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top vesco-top-nav" role="navigation">
    <div class="container-fluid">
      <div class="vesco-nav-wrapper">
        <div class="navbar-header">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#vesco-menu" aria-controls="vesco-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">Toggle navigation</span>
            <span class="icon-bar">Toggle navigation</span>
            <span class="icon-bar">Toggle navigation</span>
            <span class="icon-bar">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#home">
            <img src="../assets/images/images (3).jpeg" style="height: 60px;width:60px;" alt="logo">
          </a>
        </div>
        <div class="nav collapse navbar-collapse justify-content-end" id="vesco-menu">
            <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#stats">Stats</a></li>
                <li><a href="#clients">Clients</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
      </div>
    </div>
  </nav> -->
  <div class="container-fluid event-gurus-nav">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top vesco-top-nav">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#vesco-menu" aria-controls="vesco-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#home">
        <img src="../assets/images/images (3).jpeg" width="30" height="30" class="d-inline-block align-top" alt="logo">
        Event Gurus
      </a>
    
      <div class="collapse navbar-collapse" id="vesco-menu">
        <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0 justify-content-end">
          <li class="nav-item active">
            <a class="nav-link smooth-scroll" href="#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-scroll" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-scroll" href="#work">Work</a>
            </li>
          <li class="nav-item">
            <a class="nav-link smooth-scroll" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-scroll" href="#testimonials">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-scroll" href="#pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-scroll" href="#stats">Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-scroll" href="#clients">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-scroll" href="#contact">Contact</a>
          </li>           
        </ul>
      </div>
      
    </nav>
  </div>
</header>
<section id="home">
  <div id="home-cover" class="bg-parallax animated fadeIn">
    <div id="home-content-box">
      <div id="home-content-box-inner" class="text-center">
        <div id="home-heading" class="animated zoomIn">
          <h3>EVENT GURUS <br> Bringing happiness in every life</h3>
        </div>
        <div id="home-btn" class="animated zoomIn">
          <a class="btn btn-lg btn-general btn-white smooth-scroll" href="#work" role="button" title="View our work">View Our Work  </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="content-box">
    <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
      <h3>Services</h3>
      <div class="content-title-underline"></div>
    </div>
    <div class="container wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
      <div class="row">
        <div class="col-md-4">
          <div class="service-item">
              <div class="service-item-icon">
                <fa name="paint-brush" size="3x"></fa>
              </div>
              <div class="service-item-title">
                <h3>Web Design</h3>
                </div>
              <div class="service-item-desc">
                <p>Tamen fabulas id varias tamen qui nam enim.</p>
              </div>

          </div>
        </div>
        <div class="col-md-4">
            <div class="service-item">
                <div class="service-item-icon">
                  <fa name="laptop" size="3x"></fa>
                </div>
                <div class="service-item-title">
                  <h3>Web Development</h3>
                  </div>
                <div class="service-item-desc">
                  <p>Tamen fabulas id varias tamen qui nam enim.</p>
                </div>
  
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-item">
                <div class="service-item-icon">
                  <fa name="tablet" size="3x"></fa>
                </div>
                <div class="service-item-title">
                  <h3>Mobile Apps</h3>
                  </div>
                <div class="service-item-desc">
                  <p>Tamen fabulas id varias tamen qui nam enim.</p>
                </div>
  
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-item">
                <div class="service-item-icon">
                  <fa name="search" size="3x"></fa>
                </div>
                <div class="service-item-title">
                  <h3>SEO Optimization</h3>
                  </div>
                <div class="service-item-desc">
                  <p>Tamen fabulas id varias tamen qui nam enim.</p>
                </div>
  
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-item">
                <div class="service-item-icon">
                  <fa name="pencil-square-o" size="3x"></fa>
                </div>
                <div class="service-item-title">
                  <h3>UX Design</h3>
                  </div>
                <div class="service-item-desc">
                  <p>Tamen fabulas id varias tamen qui nam enim.</p>
                </div>
  
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-item">
                <div class="service-item-icon">
                  <fa name="life-ring" size="3x"></fa>
                </div>
                <div class="service-item-title">
                  <h3>Support</h3>
                  </div>
                <div class="service-item-desc">
                  <p>Tamen fabulas id varias tamen qui nam enim.</p>
                </div>
  
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div id="about-bg-diagonal"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="about-content-box">
          <div id="about-content-box-outer">
            <div id="about-content-box-inner">
                <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                    <h3>About Us</h3>
                    <div class="content-title-underline"></div>
                </div>
                <div id="about-desc" class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                  <p>Planning and making use of opportunities are fundamental in the event industry, 
                    so never feel like it is good luck when your event is a success, 
                    you or your team have worked hard to achieve it and you should enjoy the glory.
                    Planning without action is futile, action without planning is fatal.</p>
                </div>
                <div id="about-btn" class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                  <a class="btn btn-lg btn-general btn-blue smooth-scroll" href="#work" role="button">Our Work</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="work">
  <div class="content-box">
    <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
      <h3>Our Work</h3>
      <div class="content-title-underline"></div>
    </div>
    
    <div class="container-fluid">
      <div class="row no-gutters wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
        <div class="col-md-3">
          <div class="img-wrapper">
            <a href="../assets/images/indian-wedding-decoration-ideas-on-a-budget-suitable-add-simple-indian-wedding-decoration-ideas-for-reception-1.jpg" title="work description goes here">
              <img src="../assets/images/indian-wedding-decoration-ideas-on-a-budget-suitable-add-simple-indian-wedding-decoration-ideas-for-reception-1.jpg" class="img-responsive" alt="work">
            </a>
          </div>
        </div>
        <div class="col-md-3">
            <div class="img-wrapper">
              <a href="../assets/images/indian-wedding-decorations.jpg" title="work description goes here">
                <img src="../assets/images/indian-wedding-decorations.jpg" class="img-responsive" alt="work">
              </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="img-wrapper">
              <a href="../assets/images/indian-wedding-sangeet-decoration-ideas-suitable-add-indian-wedding-sweet-decoration-ideas-suitable-add-south-indian-wedding-stage-decoration-ideas-1.jpg" title="work description goes here">
                <img src="../assets/images/indian-wedding-sangeet-decoration-ideas-suitable-add-indian-wedding-sweet-decoration-ideas-suitable-add-south-indian-wedding-stage-decoration-ideas-1.jpg" class="img-responsive" alt="work">
              </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="img-wrapper">
              <a href="../assets/images/indian-wedding-stage-decoration-cost-best-of-south-indian-wedding-stage-decoration-choice-image-wedding-of-indian-wedding-stage-decoration-cost.jpg" title="work description goes here">
                <img src="../assets/images/indian-wedding-stage-decoration-cost-best-of-south-indian-wedding-stage-decoration-choice-image-wedding-of-indian-wedding-stage-decoration-cost.jpg" class="img-responsive" alt="work">
              </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="img-wrapper">
              <a href="../assets/images/indian-wedding-tent-decoration-ideas-suitable-add-indian-wedding-basket-decoration-ideas-suitable-add-indian-wedding-decoration-ideas-at-home-1.jpg" title="work description goes here">
                <img src="../assets/images/indian-wedding-tent-decoration-ideas-suitable-add-indian-wedding-basket-decoration-ideas-suitable-add-indian-wedding-decoration-ideas-at-home-1.jpg" class="img-responsive" alt="work">
              </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="img-wrapper">
              <a href="../assets/images/fresh-indian-wedding-decor-ideas-suitable-add-decoration-ideas-for-indian-wedding-gifts-suitable-add-decoration-ideas-for-indian-wedding-reception-1.jpg" title="work description goes here">
                <img src="../assets/images/fresh-indian-wedding-decor-ideas-suitable-add-decoration-ideas-for-indian-wedding-gifts-suitable-add-decoration-ideas-for-indian-wedding-reception-1.jpg" class="img-responsive" alt="work">
              </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="img-wrapper">
              <a href="../assets/images/Setup30NovPastelThemeMAI_7142.jpg" title="work description goes here">
                <img src="../assets/images/Setup30NovPastelThemeMAI_7142.jpg" class="img-responsive" alt="work">
              </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="img-wrapper">
              <a href="../assets/images/indian-wedding-decoration-ideas-on-a-budget-suitable-add-simple-indian-wedding-decoration-ideas-for-reception-1.jpg" title="work description goes here">
                <img src="../assets/images/indian-wedding-decoration-ideas-on-a-budget-suitable-add-simple-indian-wedding-decoration-ideas-for-reception-1.jpg" class="img-responsive" alt="work">
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="team">
  <div class="content-box">
    <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
      <h3>Our Team</h3>
      <div class="content-title-underline"></div>
    </div>
    <div class="container wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
      <div class="row">
        <div class="col-md-12">
          <div id="team-members">
            <owl-carousel [options]="{items: 3, dots: true, navigation: false, autoplay: true, smartSpeed: 700, loop: true, autoplayHoverPause: true}" 
            [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
              <div class="team-member">
                <img src="../assets/images/ansari1.png" class="img-responsive" alt="team member">
                <div class="team-member-info text-center">
                  <h4 class="team-member-name">Some Name</h4>
                  <h4 class="team-member-designation">Some Name</h4>
                  <ul class="social-list">
                    <li><a href="#" class="social-icon icon-gray"><fa name="facebook"></fa></a></li>
                    <li><a href="#" class="social-icon icon-gray"><fa name="twitter"></fa></a></li>
                    <li><a href="#" class="social-icon icon-gray"><fa name="google-plus"></fa></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-member">
                  <img src="../assets/images/anupam-mittal.jpg" class="img-responsive" alt="team member">
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Some Name</h4>
                    <h4 class="team-member-designation">Some Name</h4>
                    <ul class="social-list">
                      <li><a href="#" class="social-icon icon-gray"><fa name="facebook"></fa></a></li>
                      <li><a href="#" class="social-icon icon-gray"><fa name="twitter"></fa></a></li>
                      <li><a href="#" class="social-icon icon-gray"><fa name="google-plus"></fa></a></li>
                    </ul>
                  </div>
              </div>
              <div class="team-member">
                <img src="../assets/images/Daniel-Smedley-Sladen.png" class="img-responsive" alt="team member">
                <div class="team-member-info text-center">
                  <h4 class="team-member-name">Some Name</h4>
                  <h4 class="team-member-designation">Some Name</h4>
                  <ul class="social-list">
                    <li><a href="#" class="social-icon icon-gray"><fa name="facebook"></fa></a></li>
                    <li><a href="#" class="social-icon icon-gray"><fa name="twitter"></fa></a></li>
                    <li><a href="#" class="social-icon icon-gray"><fa name="google-plus"></fa></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-member">
                <img src="../assets/images/images.jpeg" class="img-responsive" alt="team member">
                <div class="team-member-info text-center">
                  <h4 class="team-member-name">Some Name</h4>
                  <h4 class="team-member-designation">Some Name</h4>
                  <ul class="social-list">
                    <li><a href="#" class="social-icon icon-gray"><fa name="facebook"></fa></a></li>
                    <li><a href="#" class="social-icon icon-gray"><fa name="twitter"></fa></a></li>
                    <li><a href="#" class="social-icon icon-gray"><fa name="google-plus"></fa></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-member">
                <img src="../assets/images/MediatedMatter_People_Keating_500_332_80gray_c1.jpg" class="img-responsive" alt="team member">
                <div class="team-member-info text-center">
                  <h4 class="team-member-name">Some Name</h4>
                  <h4 class="team-member-designation">Some Name</h4>
                  <ul class="social-list">
                    <li><a href="#" class="social-icon icon-gray"><fa name="facebook"></fa></a></li>
                    <li><a href="#" class="social-icon icon-gray"><fa name="twitter"></fa></a></li>
                    <li><a href="#" class="social-icon icon-gray"><fa name="google-plus"></fa></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-member">
                <img src="../assets/images/people-mattcain2.jpg" class="img-responsive" alt="team member">
                <div class="team-member-info text-center">
                  <h4 class="team-member-name">Some Name</h4>
                  <h4 class="team-member-designation">Some Name</h4>
                  <ul class="social-list">
                    <li><a href="#" class="social-icon icon-gray"><fa name="facebook"></fa></a></li>
                    <li><a href="#" class="social-icon icon-gray"><fa name="twitter"></fa></a></li>
                    <li><a href="#" class="social-icon icon-gray"><fa name="google-plus"></fa></a></li>
                  </ul>
                </div>
              </div>
            </owl-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section id="testimonials">
  <div class="content-box">
    <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
      <h3>Services</h3>
      <div class="content-title-underline"></div>
    </div>
    <div class="container">
      <div class="row wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</section> -->
<section id="testimonials">
  <div id="testimonials-cover">
    <div class="content-box">
      <div class="content-title content-title-white wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
        <h3>What our customers say</h3>
        <div class="content-title-underline"></div>
      </div>
      <div class="container">
        <div class="row wow animated bounceInDown" data-wow-duration="1s" data-wow-delay=".5s">
          <div class="col-md-12">
            <div id="customers-testimonials" class="text-center">
              <owl-carousel [options]="{items: 1, dots: true, navigation: false, autoplay: true, smartSpeed: 700, loop: true, autoplayHoverPause: true}" 
              [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                <div class="testimonial">
                  <img src="../assets/images/images (1).jpeg" class="img-responsive rounded-circle" alt="testimonial">
                  <blockquote>
                    <p>
                      At the end of the day, you are solely responsible for your success and your failure. 
                      And the sooner you realize that, you accept that, and integrate that into your work ethic, you will start being successful.
                      As long as you blame others for the reason you aren't where you want to be, you will always be a failure.
                    </p>
                  </blockquote>
                  <div class="testimonial-author">
                    <p>
                      <strong>Some name</strong>
                      <span>CEO & Founder - ABC</span>
                    </p>
                  </div>
                </div>
                <div class="testimonial">
                  <img src="../assets/images/389530.jpg" class="img-responsive rounded-circle" alt="testimonial">
                  <blockquote>
                    <p>
                      At the end of the day, you are solely responsible for your success and your failure. 
                      And the sooner you realize that, you accept that, and integrate that into your work ethic, you will start being successful.
                      As long as you blame others for the reason you aren't where you want to be, you will always be a failure.
                    </p>
                  </blockquote>
                  <div class="testimonial-author">
                    <p>
                      <strong>Some name</strong>
                      <span>CEO & Founder - ABC</span>
                    </p>
                  </div>
                </div>
                <div class="testimonial">
                  <img src="../assets/images/p01t1fqt.jpg" class="img-responsive rounded-circle" alt="testimonial">
                  <blockquote>
                    <p>
                      At the end of the day, you are solely responsible for your success and your failure. 
                      And the sooner you realize that, you accept that, and integrate that into your work ethic, you will start being successful.
                      As long as you blame others for the reason you aren't where you want to be, you will always be a failure.
                    </p>
                  </blockquote>
                  <div class="testimonial-author">
                    <p>
                      <strong>Some name</strong>
                      <span>CEO & Founder - ABC</span>
                    </p>
                  </div>
                </div>
                <div class="testimonial">
                  <img src="../assets/images/eed6f5fc-b6b6-446d-de49-6e9aac90aab4-eed6f5fcb6b6446dde496e9aac90aab4rendition_1_scottthuman5x7bluegradient.jpg" class="img-responsive rounded-circle" alt="testimonial">
                  <blockquote>
                    <p>
                      At the end of the day, you are solely responsible for your success and your failure. 
                      And the sooner you realize that, you accept that, and integrate that into your work ethic, you will start being successful.
                      As long as you blame others for the reason you aren't where you want to be, you will always be a failure.
                    </p>
                  </blockquote>
                  <div class="testimonial-author">
                    <p>
                      <strong>Some name</strong>
                      <span>CEO & Founder - ABC</span>
                    </p>
                  </div>
                </div>
                <div class="testimonial">
                  <img src="../assets/images/images (1).jpeg" class="img-responsive rounded-circle" alt="testimonial">
                  <blockquote>
                    <p>
                      At the end of the day, you are solely responsible for your success and your failure. 
                      And the sooner you realize that, you accept that, and integrate that into your work ethic, you will start being successful.
                      As long as you blame others for the reason you aren't where you want to be, you will always be a failure.
                    </p>
                  </blockquote>
                  <div class="testimonial-author">
                    <p>
                      <strong>Some name</strong>
                      <span>CEO & Founder - ABC</span>
                    </p>
                  </div>
                </div>
                <div class="testimonial">
                  <img src="../assets/images/images (1).jpeg" class="img-responsive rounded-circle" alt="testimonial">
                  <blockquote>
                    <p>
                      At the end of the day, you are solely responsible for your success and your failure. 
                      And the sooner you realize that, you accept that, and integrate that into your work ethic, you will start being successful.
                      As long as you blame others for the reason you aren't where you want to be, you will always be a failure.
                    </p>
                  </blockquote>
                  <div class="testimonial-author">
                    <p>
                      <strong>Some name</strong>
                      <span>CEO & Founder - ABC</span>
                    </p>
                  </div>
                </div>
              </owl-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="pricing">
  <div class="content-box">
    <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
      <h3>Our Pricing</h3>
      <div class="content-title-underline"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
          <div class="pricing-box text-center">
            <h4 class="pricing-title">Basic</h4>
            <h3 class="pricing-value">50,000<sup>INR</sup></h3>
            <ul class="pricing-spec">
              <li>
                <p>500 Emails</p>
              </li>
              <li>
                <p>500 Emails</p>
              </li>
              <li>
                <p>500 Emails</p>
              </li>
              <li>
                <p>500 Emails</p>
              </li>
            </ul>
            <div class="pricing-btn">
              <a class="btn btn-lg btn-general btn-blue" href="#" role="button">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow animated bounceInUp" data-wow-duration="1s" data-wow-delay=".5s">
          <div class="pricing-box pricing-box-lg text-center">
            <h4 class="pricing-title">Enterprise</h4>
            <h3 class="pricing-value">2,50,000<sup>INR</sup></h3>
            <ul class="pricing-spec">
              <li>
                <p>500 Emails</p>
              </li>
              <li>
                <p>500 Emails</p>
              </li>
              <li>
                <p>500 Emails</p>
              </li>
              <li>
                <p>500 Emails</p>
              </li>
            </ul>
            <div class="pricing-btn">
              <a class="btn btn-lg btn-general btn-white" href="#" role="button">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow animated zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
          <div class="pricing-box text-center">
            <h4 class="pricing-title">Standard</h4>
            <h3 class="pricing-value">1,50,000<sup>INR</sup></h3>
            <ul class="pricing-spec">
              <li>
                <p>500 Emails</p>
              </li>
              <li>
                <p>500 Emails</p>
              </li>
              <li>
                <p>500 Emails</p>
              </li>
              <li>
                <p>500 Emails</p>
              </li>
            </ul>
            <div class="pricing-btn">
              <a class="btn btn-lg btn-general btn-blue" href="#" role="button">Purchase</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="stats">
  <div id="stats-cover">
    <div class="content-box">
      <div class="content-title content-title-white wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
        <h3>We never stop improving</h3>
        <div class="content-title-underline"></div>
      </div>
      <div class="container">
        <div class="row text-center wow animated bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s">
          <div class="col-md-3">
            <div class="stats-item">
              <fa name="cloud-download" size="5x"></fa>
              <h2><span class="counter">1590</span><span>+</span></h2>
              <p>Downloads</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="stats-item">
              <fa name="star-o" size="5x"></fa>
              <h2><span class="counter">3500</span><span>+</span></h2>
              <p>Awards</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="stats-item">
              <fa name="heart-o" size="5x"></fa>
              <h2><span class="counter">1199</span><span>+</span></h2>
              <p>Likes</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="stats-item">
              <fa name="check" size="5x"></fa>
              <h2><span class="counter">2200</span><span>+</span></h2>
              <p>Recommended</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="clients">
  <div class="content-box">
    <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
      <h3> Clients </h3>
      <div class="content-title-underline"></div>
    </div>
    <div class="container">
      <div class="row wow animated bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s">
        <div class="col-md-12">
          <div id="clients-list">
            <owl-carousel [options]="{items: 6, dots: true, navigation: false, autoplay: true, smartSpeed: 700, loop: true, autoplayHoverPause: true}" 
              [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
              <div class="client">
                <img src="../assets/images/images (1).jpeg" class="img-responsive" alt="client">
              </div>
              <div class="client">
                <img src="../assets/images/images (1).jpeg" class="img-responsive" alt="client">
              </div>
              <div class="client">
                <img src="../assets/images/images (1).jpeg" class="img-responsive" alt="client">
              </div>
              <div class="client">
                <img src="../assets/images/images (1).jpeg" class="img-responsive" alt="client">
              </div>
              <div class="client">
                <img src="../assets/images/images (1).jpeg" class="img-responsive" alt="client">
              </div>
              <div class="client">
                <img src="../assets/images/images (1).jpeg" class="img-responsive" alt="client">
              </div>
              <div class="client">
                <img src="../assets/images/images (1).jpeg" class="img-responsive" alt="client">
              </div>
              <div class="client">
                <img src="../assets/images/images (1).jpeg" class="img-responsive" alt="client">
              </div>
            </owl-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="contact-left">
            <h3>Event Gurus</h3>
            <p>Our work is the <strong>presentation</strong> of our <strong>capabilities</strong>.A <strong>satisfied customer</strong> is the best business strategy of all.
                We're all <strong>working together</strong>; that's the secret.</p>
            <div id="contact-info">
              <address>
                <strong>Office Location:</strong>
                <p>221 Jockey Hollow, Suite 600<br>
                Smithtown, NY 11787</p>
              </address>
              <div id="phone-fax-email">
                <p>
                  <strong>Phone:</strong><span>(91) 9876 543210</span><br>
                  <strong>Fax:</strong><span>(91) 9876 543210</span><br>
                  <strong>Email:</strong><span>example123@gmail.com</span><br>
                </p>
              </div>
              <ul class="social-list">
                <li><a href="#" class="social-icon icon-white"><fa name="facebook"></fa></a></li>
                <li><a href="#" class="social-icon icon-white"><fa name="twitter"></fa></a></li>
                <li><a href="#" class="social-icon icon-white"><fa name="youtube-play"></fa></a></li>
                <li><a href="#" class="social-icon icon-white"><fa name="google-plus"></fa></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div id="contact-left">
            <h3>Contact Us</h3>
            <form action="#">
              <input type="text" name="full-name" placeholder="enter your full name" class="form-control">
              <input type="email" name="email" placeholder="enter your email address" class="form-control">
              <textarea rows="5" name="message" placeholder="Your Message ..." class="form-control"></textarea>
              <div id="send-btn">
                <a class="btn btn-lg btn-general btn-white" href="#" role="button">SEND</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div id="footer-copyrights">
              <p>Copyrights &copy; 2017 All Rights Reserved by Event Gurus Team</p>
            </div>
          </div>
          <div class="col-md-6">
            <div id="footer-menu">
                <ul>
                    <li><a class="smooth-scroll" href="#home">Home</a>/</li>
                    <li><a class="smooth-scroll" href="#services">Services</a>/</li>
                    <li><a class="smooth-scroll" href="#work">Work</a>/</li>
                    <li><a class="smooth-scroll" href="#team">Team</a>/</li>
                    <li><a class="smooth-scroll" href="#testimonials">Testimonials</a>/</li>
                    <li><a class="smooth-scroll" href="#pricing">Pricing</a>/</li>
                    <li><a class="smooth-scroll" href="#stats">Stats</a>/</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <a href="#home" id="back-to-top" class="btn btn-sm btn-blue btn-back-to-top smooth-scroll" title="home" role="button"><fa name="angle-up"></fa></a>
</footer>